In [2]:
import pandas as pd

df = pd.read_csv('DM2425_ABCDEats_DATASET.csv', sep=',')

# Data Set Information:
**customer_id** - Unique identifier for each customer.

**customer_region** - Geographic region where the customer is located.

**customer_age** - Age of the customer.

**vendor_count** - Number of unique vendors the customer has ordered from.

**product_count** - Total number of products the customer has ordered.

**is_chain** - Indicates whether the customerâ€™s order was from a chain restaurant.

**first_order** - Number of days from the start of the dataset when the customer first placed an order.

**last_order** - Number of days from the start of the dataset when the customer most recently placed an order.

**last_promo** - The category of the promotion or discount most recently used by the customer.

**payment_method** - Method most recently used by the customer to pay for their orders.

**CUI_American, CUI_Asian, CUI_Chinese, CUI_Italian, etc.** - The amount in monetary units spent by the customer from the indicated type of cuisine.

**DOW_0toDOW_6** - Number of orders placed on each day of the week (0 =Sunday, 6 =Saturday).

**HR_0toHR_23** - Number of orders placed during each hour of the day (0 =midnight, 23 = 11 PM).

In [3]:
df

,customer_id,customer_region,customer_age,vendor_count,product_count,is_chain,first_order,last_order,last_promo,payment_method,...,HR_14,HR_15,HR_16,HR_17,HR_18,HR_19,HR_20,HR_21,HR_22,HR_23
0,1b8f824d5e,2360,18.0,2,5,1,0.0,1,DELIVERY,DIGI,...,0,0,0,0,2,0,0,0,0,0
1,5d272b9dcb,8670,17.0,2,2,2,0.0,1,DISCOUNT,DIGI,...,0,0,0,0,0,0,0,0,0,0
2,f6d1b2ba63,4660,38.0,1,2,2,0.0,1,DISCOUNT,CASH,...,0,0,0,0,0,0,0,0,0,0
3,180c632ed8,4660,NaN,2,3,1,0.0,2,DELIVERY,DIGI,...,1,0,0,0,0,0,0,0,0,0
4,4eb37a6705,4660,20.0,2,5,0,0.0,2,-,DIGI,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31883,f4e366c281,8670,30.0,1,1,1,NaN,0,FREEBIE,DIGI,...,0,0,0,0,0,0,0,0,0,0
31884,f6b6709018,8670,NaN,1,1,0,NaN,0,DELIVERY,DIGI,...,0,0,1,0,0,0,0,0,0,0
31885,f74ad8ce3f,8670,24.0,1,1,1,NaN,0,-,DIGI,...,0,0,0,0,0,0,0,0,0,0
31886,f7b19c0241,8670,34.0,1,1,0,NaN,0,DISCOUNT,DIGI,...,0,0,0,0,0,0,0,0,0,0
31887,fd40d3b0e0,4660,30.0,1,1,0,NaN,0,-,CASH,...,0,0,1,0,0,0,0,0,0,0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31888 entries, 0 to 31887
Data columns (total 56 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               31888 non-null  object
 1   customer_region           31888 non-null  object
 2   customer_age              31161 non-null  float64
 3   vendor_count              31888 non-null  int64
 4   product_count             31888 non-null  int64
 5   is_chain                  31888 non-null  int64
 6   first_order               31782 non-null  float64
 7   last_order                31888 non-null  int64
 8   last_promo                31888 non-null  object
 9   payment_method            31888 non-null  object
 10  CUI_American              31888 non-null  float64
 11  CUI_Asian                 31888 non-null  float64
 12  CUI_Beverages             31888 non-null  float64
 13  CUI_Cafe                  31888 non-null  float64
 14  CUI_Chicken Dishes        31888 non-null  float64
 15  CUI_Chinese               31888 non-null  float64
 16  CUI_Desserts              31888 non-null  float64
 17  CUI_Healthy               31888 non-null  float64
 18  CUI_Indian                31888 non-null  float64
 19  CUI_Italian               31888 non-null  float64
 20  CUI_Japanese              31888 non-null  float64
 21  CUI_Noodle Dishes         31888 non-null  float64
 22  CUI_OTHER                 31888 non-null  float64
 23  CUI_Street Food / Snacks  31888 non-null  float64
 24  CUI_Thai                  31888 non-null  float64
 25  DOW_0                     31888 non-null  int64
 26  DOW_1                     31888 non-null  int64
 27  DOW_2                     31888 non-null  int64
 28  DOW_3                     31888 non-null  int64
 29  DOW_4                     31888 non-null  int64
 30  DOW_5                     31888 non-null  int64
 31  DOW_6                     31888 non-null  int64
 32  HR_0                      30723 non-null  float64
 33  HR_1                      31888 non-null  int64
 34  HR_2                      31888 non-null  int64
 35  HR_3                      31888 non-null  int64
 36  HR_4                      31888 non-null  int64
 37  HR_5                      31888 non-null  int64
 38  HR_6                      31888 non-null  int64
 39  HR_7                      31888 non-null  int64
 40  HR_8                      31888 non-null  int64
 41  HR_9                      31888 non-null  int64
 42  HR_10                     31888 non-null  int64
 43  HR_11                     31888 non-null  int64
 44  HR_12                     31888 non-null  int64
 45  HR_13                     31888 non-null  int64
 46  HR_14                     31888 non-null  int64
 47  HR_15                     31888 non-null  int64
 48  HR_16                     31888 non-null  int64
 49  HR_17                     31888 non-null  int64
 50  HR_18                     31888 non-null  int64
 51  HR_19                     31888 non-null  int64
 52  HR_20                     31888 non-null  int64
 53  HR_21                     31888 non-null  int64
 54  HR_22                     31888 non-null  int64
 55  HR_23                     31888 non-null  int64
dtypes: float64(18), int64(34), object(4)
memory usage: 13.6+ MB

In [14]:
# statistics of the numerical variables in the dataset
pd.set_option('display.max_columns', None)
with pd.option_context('display.max_rows', None):
    print(df.describe()) #vi no chatgpt

       customer_age  vendor_count  product_count      is_chain   first_order  \
count  31161.000000  31888.000000   31888.000000  31888.000000  31782.000000
mean      27.506499      3.102609       5.668245      2.818866     28.478604
std        7.160898      2.771587       6.957287      3.977529     24.109086
min       15.000000      0.000000       0.000000      0.000000      0.000000
25%       23.000000      1.000000       2.000000      1.000000      7.000000
50%       26.000000      2.000000       3.000000      2.000000     22.000000
75%       31.000000      4.000000       7.000000      3.000000     45.000000
max       80.000000     41.000000     269.000000     83.000000     90.000000

         last_order  CUI_American     CUI_Asian  CUI_Beverages      CUI_Cafe  \
count  31888.000000  31888.000000  31888.000000   31888.000000  31888.000000
mean      63.675521      4.880438      9.960451       2.300633      0.801163
std       23.226123     11.654018     23.564351       8.479734      6.427132
min        0.000000      0.000000      0.000000       0.000000      0.000000
25%       49.000000      0.000000      0.000000       0.000000      0.000000
50%       70.000000      0.000000      0.000000       0.000000      0.000000
75%       83.000000      5.660000     11.830000       0.000000      0.000000
max       90.000000    280.210000    896.710000     229.220000    326.100000

       CUI_Chicken Dishes   CUI_Chinese  CUI_Desserts   CUI_Healthy  \
count        31888.000000  31888.000000  31888.000000  31888.000000
mean             0.768096      1.431218      0.884359      0.950203
std              3.657273      8.191755      5.259868      5.830590
min              0.000000      0.000000      0.000000      0.000000
25%              0.000000      0.000000      0.000000      0.000000
50%              0.000000      0.000000      0.000000      0.000000
75%              0.000000      0.000000      0.000000      0.000000
max            219.660000    739.730000    230.070000    255.810000

         CUI_Indian   CUI_Italian  CUI_Japanese  CUI_Noodle Dishes  \
count  31888.000000  31888.000000  31888.000000       31888.000000
mean       1.631153      3.233411      2.995379           0.711676
std        7.443234     11.247990     10.180851           4.536457
min        0.000000      0.000000      0.000000           0.000000
25%        0.000000      0.000000      0.000000           0.000000
50%        0.000000      0.000000      0.000000           0.000000
75%        0.000000      0.000000      0.000000           0.000000
max      309.070000    468.330000    706.140000         275.110000

          CUI_OTHER  CUI_Street Food / Snacks      CUI_Thai         DOW_0  \
count  31888.000000              31888.000000  31888.000000  31888.000000
mean       2.999913                  3.913253      0.841697      0.555914
std        9.768300                 15.548507      4.433047      1.013601
min        0.000000                  0.000000      0.000000      0.000000
25%        0.000000                  0.000000      0.000000      0.000000
50%        0.000000                  0.000000      0.000000      0.000000
75%        0.000000                  0.000000      0.000000      1.000000
max      366.080000                454.450000    136.380000     16.000000

              DOW_1         DOW_2         DOW_3         DOW_4         DOW_5  \
count  31888.000000  31888.000000  31888.000000  31888.000000  31888.000000
mean       0.567486      0.591006      0.619449      0.677747      0.652973
std        1.044090      1.045907      1.069672      1.088122      1.069947
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        1.000000      1.000000      1.000000      1.000000      1.000000
max       17.000000     15.000000     17.000000     16.000000     20.000000

              DOW_6     HR_0          HR_1          HR_2          HR_3  \
count  31888.000000  30723.0  31888.000000  31888.000000  31888.000000
mean       0.704246      0.0      0.053845      0.063190      0.118759
std        1.167446      0.0      0.317013      0.351498      0.500862
min        0.000000      0.0      0.000000      0.000000      0.000000
25%        0.000000      0.0      0.000000      0.000000      0.000000
50%        0.000000      0.0      0.000000      0.000000      0.000000
75%        1.000000      0.0      0.000000      0.000000      0.000000
max       20.000000      0.0     14.000000     12.000000     11.000000

               HR_4          HR_5          HR_6        HR_7          HR_8  \
count  31888.000000  31888.000000  31888.000000  31888.0000  31888.000000
mean       0.101700      0.081943      0.069681      0.0768      0.131899
std        0.437493      0.358705      0.329461      0.3777      0.635582
min        0.000000      0.000000      0.000000      0.0000      0.000000
25%        0.000000      0.000000      0.000000      0.0000      0.000000
50%        0.000000      0.000000      0.000000      0.0000      0.000000
75%        0.000000      0.000000      0.000000      0.0000      0.000000
max       14.000000      7.000000      8.000000     15.0000     52.000000

               HR_9         HR_10         HR_11         HR_12         HR_13  \
count  31888.000000  31888.000000  31888.000000  31888.000000  31888.000000
mean       0.233912      0.329560      0.378167      0.314162      0.236453
std        0.724906      0.891161      0.959961      0.842484      0.637502
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max       23.000000     25.000000     36.000000     26.000000     14.000000

              HR_14         HR_15         HR_16         HR_17         HR_18  \
count  31888.000000  31888.000000  31888.000000  31888.000000  31888.000000
mean       0.215630      0.277032      0.356435      0.390962      0.336961
std        0.599006      0.738162      0.874449      0.943721      0.893949
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max       13.000000     23.000000     22.000000     20.000000     24.000000

              HR_19         HR_20         HR_21         HR_22         HR_23
count  31888.000000  31888.000000  31888.000000  31888.000000  31888.000000
mean       0.245610      0.142812      0.071155      0.048263      0.045189
std        0.795296      0.586529      0.348536      0.298265      0.282006
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max       35.000000     36.000000     11.000000     15.000000     13.000000

In [5]:
####issues with the data:
#missing values in "customer_age", "first_order", " HR_0"
#is_chain - shouldn't be boolean(??) max value is 83
#last_promo - shouldn't be string?
#

In [6]:
import numpy as np
# correct the missing values
#df.replace("", np.nan, inplace=True)
#df.isnull().sum()

In [7]:
# group the data by similarity
orders_per_hour = df.loc[:, 'HR_0':'HR_23']

orders_per_cuisine = df.loc[:, 'CUI_American':'CUI_Thai']

orders_per_dow = df.loc[:, 'DOW_0':'DOW_6']

non_metric_features = []

metric_features = []

In [8]:
# import matplotlib.pyplot and seaborn for data visualization
import matplotlib.pyplot as plt
import seaborn as sns